.ImageAnalysis {
  margin: 50px;
  padding: 20px;
  background-color: #C0C0C0;
  display: flex;
}

.ImageAnalysis .imageDrop {
  text-align: center;
  padding: 10px;
}

.ImageAnalysis .import {
  display: flex;
  justify-content: center;
}

.ImageAnalysis .import .dropZone {
  width: 450px;
  height: 450px;
  border-width: 4px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

.ImageAnalysis .preview {
  display: flex;
  flex-direction: column;
}

.ImageAnalysis .preview Button {
  width: 350px;
  margin-top: 5px;
}

.ImageAnalysis .imagePreview {
  display: 'inline';
  width: 450px;
  height: 450px;
}

.ImageAnalysis .ImageAnalysisButton {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ImageAnalysis .report {
  margin: 50px;
  padding: 20px;
  background-color: #C0C0C0;
}
